<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
  <select name="abc" v-model="fruit">
    <option value="apple">apple</option>
    <option value="banana">banana</option>
  </select>
  <h2>{{fruit}}</h2>
  <hr>
  <select name="abc" v-model="fruits" multiple>
    <option value="apple">apple</option>
    <option value="banana">banana</option>
    <option value="banana">banana2</option>
    <option value="banana">banana3</option>
    <option value="banana">banana4</option>
  </select>
  <h2>{{fruits}}</h2>
</div>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      fruit: '',
      fruits: []
    }
  })
</script>
</body>
</html>